{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About-us
{% endblock %}

{% block body %}
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis deleniti dicta dolorum illum impedit incidunt iure minima modi, molestiae molestias odio omnis pariatur sed similique temporibus, veniam veritatis!</span><span>Aliquam aliquid aperiam architecto commodi, consectetur culpa cupiditate delectus dolor eaque earum eius enim eos error harum, id laboriosam laborum maxime minus odio officia optio praesentium reiciendis tenetur velit voluptate.</span><span>Accusamus ad adipisci, architecto aspernatur, consequatur est nulla officia optio perspiciatis placeat quas quisquam recusandae rem suscipit veniam, voluptatem voluptates? Animi autem dolorem explicabo maxime nulla, officia repellendus rerum veritatis.</span><span>Ab amet culpa, est expedita fuga ipsum itaque maiores non numquam provident quis sint soluta tenetur. Accusamus eligendi fugiat, id illo in inventore laborum, laudantium odit quo repellendus, tempora veritatis!</span><span>Aspernatur deleniti deserunt dicta dolor dolores dolorum ducimus error explicabo facere, fuga fugit in labore minus mollitia nihil nobis nostrum obcaecati placeat porro quo, reprehenderit saepe sed sint tempore veritatis!</span><span>A accusantium commodi consequuntur corporis dolorem, doloribus iusto nisi numquam quaerat quisquam reprehenderit temporibus tenetur? Aliquam amet, delectus ea eum maxime minima minus nemo, nobis, obcaecati provident recusandae voluptate voluptates.</span>
    </p>
{% endblock %}