<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" class="links">Home</a></li>
        <li><a href="{{ path('wish_list') }}" class="links">New list</a></li>
        <li><a href="{{ path('about-us') }}">About-us</a></li>
    </ul>
</nav>

