<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="icon" href="img/LogosPersoblackredgreen.png">
    <meta charset="UTF-8">
    <title>{% block title %}WorldWide Bucket-List{% endblock %}</title>
</head>
<body>
<header>
    {% include 'bodyStructure/header/header.html.twig' %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    {% include 'bodyStructure/footer/footer.html.twig' %}
</footer>
</body>
</html>
